
header{
  display: flex;
  background-color: rgb(11, 11, 166);
  justify-content: space-between;
  padding: 10px;
  color: white;
  padding-bottom: 10px;
}

.custom-button {
  background-color: rgb(255, 77, 0);
  margin-bottom: 10px;
  margin-left: 40px;
  border-radius: 20px;
  color: white;
}
.infor {
  background-image: linear-gradient(to right,rgb(3, 3, 58),rgb(61, 61, 202)),url(images/2.png);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(32, 15, 161);
  color: rgb(249, 246, 246);
  font-size: 1em;
  padding-top: 10px;

}
.cardss {
  background-image: linear-gradient(to bottom, rgb(245, 241, 241),rgb(252, 248, 248),rgb(224, 219, 219));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  }
.learn-button{
  background-color: rgb(13, 13, 107);
  color: white;
}
.lab-button{
  background-color: rgb(64, 175, 195);
  border-radius: 3px;
  color: white;
}

.cards{
  background-color: rgb(246, 244, 249);
  margin-left: 4px;
  
}
.cards > h3{
  width: 310px;
  height: 40px;
  padding-left: 30px;
  padding-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 10px;
  align-items: center;
}

nav ul li {
  padding-left: 10px;
  text-decoration-line: none;
}

nav a {
  text-decoration: none;
  color: white;
}

.contained {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

.dox, img{
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.contained img {
  height: 200px;
  width: 400px;
}
.informer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.join {
  text-align: center;
  border: 2px solid black;
  background-color: rgb(18, 18, 192);
  margin-left: auto;
  margin-right: auto;
}
footer{
  background-color: rgb(6, 6, 76);
  color: white;
}
.footing{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: 1px;
  text-align: center;
}
.media{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 40px;
  border-bottom: 10px;
}
.link{
  background-color: white;
  font-size: 1em;
  border-bottom-left-radius:8px ;
  border-bottom-right-radius:8px ;
  border-top-left-radius:8px ;
  border-top-right-radius:8px ;
  padding: 2px;
  width: 5px;
}
.vertical-hr{
  height: 2cm;
  text-align: center;
  margin-top: 20px;
}
.second-conten, h2{
  background-color: rgb(13, 13, 161);
  border-top-left-radius: 8px;
}