header {
  background-image: linear-gradient(to right(rgb(93, 93, 250),blue));
  background-repeat: no-repeat;
  height: auto;
  padding: 10px;
  color: white;
}

.footer {
  background-color: blue;
  background: #020617;
  padding: 32px 0;
  color: white;
}

.custom-button {
  background: #F97316;
  color: #FFFF;
  padding: 5px 5px;
  border-radius: 5px;
  font-weight:600;
}

.features {
  gap: 32px;
}

.learn-button {
  background: darkblue;
  padding: 5px 5px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}

.lab-button {
  background:rgb(38, 171, 216);
  border-radius:5px;
  padding:5px 5px;
  font-weight: 600;
  color: white;
}

.cards {
  border: 2px solid black;
  border-radius: 12px;
  box-shadow:0 10px 25px rgb(0,0,0,0.08);
  width: 400px;
  padding: 5px;
}

.experience {
  background:darkblue ;
}

.course {
background:rgb(8, 178, 235) ;
}

.anouncements {
  padding: 2px;
  background: rgb(4, 4, 65);
}

.whychoos { 
  text-align: center;
}

.whychoos {
  font-size: 0px 0px;
  margin-button: 40px;
}

.info-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.info-boxe h3 {
  font-size: 18px;
  font-weight: normal;
}

.Apply {
  background: rgb(3, 3, 94);
  text-align: center;
  padding: 0px 50px;
  color: white;
}

.abouts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn:hover {
  background-color: #0056b3;
}

.custom-hr {
  border: 1px white;
}

.abouts img {
  height: 250px;
  width: 600px;
}

.content {
  color: black;
}

.footer small {
  font-size: 14px;
}

.container {
  border: 2px solid wheat;
  padding: 10px 10px;
  border-radius: 20px 0px;
}

.container h3 {
  background-color: #0056b3;
  padding: 5px 5px;
  color: #0056b3;
}

.container h2 {
  background-color: #020617;
  padding: 20px 30px;
  border-radius: 30px 0px;
}

footer vertical-hr {
  height: 0px;
  width: 100px;
  transform: rotate(90deg);
  padding: 5px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 2px;
}

.vertical-hr2 {
  height: 0px;
  width: 20px;
  transform: rotate(90deg);
}

.info-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: 20px;
}

.box img {
  height: 180px;
  width: 310px;
  border-radius: 2px;
}

.container h3, h2 {
  color: white;
}
